
.App{
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*HEADER SECTION*/

.App-header{
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.App-logo{
  width: 60px; 
}

.Header-right{
  float: right;
  }

  .Header-right > a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .Header-right > a.active{
    background-color: dodgerblue;
    color: white;
  }

  .App-header a:hover{
    background-color: #d1d1d1;
    color: black;
  }

  .editSection h1{
    text-align: center;
    text-decoration: underline dotted burlywood;
  }

  .editSection ul > li{
    font-weight: bolder;
    padding-bottom: 1rem;
  }

  @media screen and (max-width: 500px) {
    .App-header img a{
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  /* FOOTER SECTION */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: cadetblue;
  color: white;
}
